<!DOCTYPE html>
<html>
<head>
    <title></title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.css">
    
    <style>
        body { padding-top: 40px; }
    </style>
</head>
<body>
    <div id="root" class="container">
        <!-->once the child return a event with name "appied", then parent triggers function onCouponApplied() <-->
        <coupon @applied="onCouponApplied"></coupon>


        <h1 v-if='couponApplied'>you use a coupon!!</h1>
    </div>

    <script src="https://unpkg.com/vue@2.1.3/dist/vue.js"></script>
    <script src="communication.js"></script>
</body>
</html>